/* Existing CSS */
body {
    background-color: #000000; /* Changed to black */
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    animation: fadein 5s;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    animation: fadein 5s;
}

p {
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 20px;
    animation: fadein 5s;
}

button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    animation: fadein 2s;
}

button:hover {
    background-color: #40019e;
}

img {
    max-width: 150px; 
    height: 150px;
    margin-bottom: 10px;
    animation: fadein 2s;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
