body {
    background-color: black;
    color: #aa8dd8;
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    animation: fadein 2s;
    z-index: 1;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    animation: fadein 2s;
}

p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 20px;
    animation: fadein 2s;
}

button {
    background-color: #aa8dd8;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    animation: fadein 2s;
}

button:hover {
    background-color: #9a7cc8;
}

img {
    max-width: 150px; 
    height: 150px;
    margin-bottom: 10px;
    animation: fadein 2s;
}

a {
    color: #aa8dd8;
    text-decoration: none;
}

a:hover {
    color: #9a7cc8;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
